<section class="section contact-section" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
        <%= simple_form_for(@contato, local: true, :html => {:class => "bg-white p-md-5 p-4 mb-5 border"}) do |f| %>
          <div class="row">
            <div class="col-md-6 form-group">
              <%= f.input :nome, class: "form-control" %>
            </div>
            <div class="col-md-6 form-group">
              <%= f.input :telefone, class: "form-control" %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 form-group">
              <%= f.input :email, class: "form-control" %>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-12 form-group">
              <%= f.input :descricao, as: :text, class: "form-control", :input_html => {:cols => 30, :rows => 8} %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <%= f.submit "Enviar", class: "btn btn-primary btn-block text-white" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-5" data-aos="fade-up" data-aos-delay="200">
        <div class="row">
          <div class="col-md-10 ml-auto contact-info">
            <p><%= t("contato.new.endereco").html_safe %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>