<div class="row">
  <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
    <div class="block-2">
      <div class="flipper">
        <%= link_to estado_cidade_produtor_path(produtor.cidade.estado, produtor.cidade, produtor) do %>
          <div class="front" style="background-image: url(<%= url_for foto_perfil_url(produtor) %>);"></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
    <h6 class="letter-spacing-1">Nome: </h6>
    <%= link_to estado_cidade_produtor_path(produtor.cidade.estado, produtor.cidade, produtor) do %>
      <h5><%= nome_completo(produtor) %> (<%= produtor.apelido %>)</h5>
    <% end %>
    <h6 class="letter-spacing-1">Telefone: </h6>
    <h5><a href="tel:<%= produtor.telefone %>"><%= produtor.telefone %></a>
      <%= produtor.whatsapp ? " <span class='fa fa-whatsapp'></span>".html_safe : "" %></h5>
    <h6 class="letter-spacing-1">Email: </h6><h5><%= produtor.email %></h5>
    <h6 class="letter-spacing-1">Cidade: </h6><h5><%= cidade_completo(produtor) %></h5>
    <h6 class='letter-spacing-1'>Aceita
      Cartão? </h6><%= produtor.cartao ? "<h5>Sim</h5>".html_safe : "<h5>Não</h5>".html_safe %>
    <h6 class='letter-spacing-1'>Pessoa
      Jurídica?</h6><%= produtor.pessoa_juridica ? "<h5>Sim</h5>".html_safe : "<h5>Não</h5>".html_safe %>
    <% if produtor.video %>
      <h6>
        <a class="btn btn-outline-primary" href="https://www.youtube.com/embed/<%= produtor.video.codigo %>" data-fancybox>Vídeo
          Sobre o
          Produtor</a>
      </h6>
    <% end %>

  </div>
</div>
<div class="row justify-content-center text-center mb-5" data-aos="fade-up">
  <button class="clipboard-btn btn btn-outline-success" data-clipboard-text="<%= "Produtor(a) #{produtor.nome} (#{produtor.apelido}) " + url_for(:only_path => false) %>">
    Copie e Compartilhe no
    <span class="fa fa-whatsapp"></span>
    <span class="fa fa-facebook"></span>
    <span class="fa fa-instagram"></span>
    <span class="fa fa-twitter"></span>
  </button>
</div>
<div class="row">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading" data-aos="fade">A História</h2>
        <h6 data-aos="fade-up" data-aos-delay="100">Conheça quais os principais acontecimentos por trás desse
          guerreiro(a).</h6>
        <% if produtor.historias.empty? %>
          <div class="row justify-content-center text-center">
            <h4 data-aos="fade-up">Ainda não conhecemos a sua história</h4>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <% unless produtor.historias.empty? %>
        <div class="historia" data-aos="fade-up">
          <div class="col-md-12">
            <% produtor.historias.order(data: :asc).each do |historia| %>
              <div class="timeline-item" date-is='<%= historia.data.year %>'>
                <h5><%= historia.titulo %></h5>
                <h6><%= historia.descricao %></h6>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>