<section class="py-5">
  <div class="container">
    <div class="row check-availabilty">
      <div class="block-32" data-aos="fade-up" data-aos-offset="-200">
        <%= search_form_for @q do |f| %>
          <div class='row'>
            <div class="col-md-4 col-lg-4">
              <label for="checkin_date" class="font-weight-bold text-black">Cidade</label>
              <div class="field-icon-wrap">
                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                <%= f.select :cidade_id_eq, options_from_collection_for_select(Cidade.all, "id", "nome", @q.cidade_id_eq), {:include_blank => "Selecione"}, {:class => "form-control"} %>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <label for="checkin_date" class="font-weight-bold text-black">Nome</label>
              <div class="field-icon-wrap">
                <input type="text" id='q_nome_cont' name='q[nome_cont]' class="form-control">
              </div>
            </div>
          </div>
          <div class='row top-buffer'>
            <div class="col-md-6 col-lg-6">
              <%= f.button "Pesquisar", class: "btn btn-primary btn-block text-white" %>
            </div>
            <div class="col-md-6 col-lg-6">
              <%= link_to "Cancelar", request.path, class: "btn btn-primary btn-block text-white", style: "text-decoration: none" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div id="paginacao_produtores" class="row justify-content-center text-center mb-5" data-aos="fade-up">
      <%= paginate @produtores, remote: true, theme: 'twitter-bootstrap-4', pagination_class: "pagination", nav_class: "d-inline-b" %>
    </div>
    <div id="produtores">
      <%= render 'produtor_each', produtores: @produtores %>
    </div>
  </div>
</section>

