<section class="py-5 bg-light">
  <div class="container">
    <%= render 'produtor', produtor: @produtor %>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading" data-aos="fade-up">As Fotos</h2>
        <h6 data-aos="fade-up" data-aos-delay="100">As fotos são para ...</h6>
        <% if @produtor.fotos.empty? %>
          <div class="row justify-content-center text-center">
            <h4 data-aos="fade-up">Nenhuma foto cadastrada</h4>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="home-slider major-caousel owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
          <% @produtor.fotos.each do |foto| %>
            <div class="slider-item">
              <a href="<%= url_for foto %>" data-fancybox="images"><img src="<%= url_for foto %>" class="img-fluid"></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading" data-aos="fade-up">Os Produtos</h2>
        <h6 data-aos="fade-up" data-aos-delay="100">As produtos são para ...</h6>
        <% if @produtor.produtos.empty? %>
          <div class="row justify-content-center text-center">
            <h4 data-aos="fade-up">Nenhum produto cadastrado</h4>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% @produtor.produtos.each do |produto| %>
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
          <%= link_to(estado_cidade_produtor_produto_path(produto.produtor.cidade.estado, produto.produtor.cidade, produto.produtor, produto), class: "room") do %>
            <figure class="img-wrap">
              <%= image_tag(produto.foto_capa_url, class: "img-fluid mb-3", size: "500x500") %>
            </figure>
            <div class="p-3 text-center room-info">
              <h2><%= produto.nome %></h2>
              <h6><b>Estado:</b> <%= produto.produtor.cidade.estado.nome %></h6>
              <h6><b>Cidade:</b> <%= produto.produtor.cidade.nome %></h6>
              <h6><b>Qualidade:</b> <%= produto.qualidade.nome %></h6>
              <h6><b>Preço:</b> <%= produto.preco %></h6>
              <h6><b>Produção:</b> <%= produto.producao %></h6>
            </div>
            </div>
          <% end %>
          </div>
      <% end %>
      </div>
  </div>
</section>
