<h1 class="display-2">Produtor</h1>

<div class="row">
  
  <div class="col-md-6">

      <p>
        <strong>Nome:</strong>
        <%= @produtor.nome %>
      </p>
      <p>
        <strong>Telefone:</strong>
        <%= @produtor.telefone %>
      </p>
      <p>
        <strong>Whatsapp:</strong>
        <%= @produtor.whatsapp %>
      </p>
      <p>
        <strong>Cartão:</strong>
        <%= @produtor.cartao %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= @produtor.email %>
      </p>
      <p>
        <strong>Endereço:</strong>
        <%= @produtor.endereco %>
      </p>

  
    <div class="row">

    <h2 class="display-3">Produtos</h2>
    
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>Produto</th>
            <th>Categoria</th>
            <th>Produção</th>
            <th>Preço</th>
            <th></th>
          </tr>
        </thead>
      
        <tbody>
          <% @produtor.produtos.each do |produto| %>
            <tr>
              <td><%= produto.nome %></td>
              <td><%= produto.categoria.nome %></td>
              <td><%= produto.producao %></td>
              <td><%= produto.preco %></td>
              <td><%= link_to 'Ver', produto %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
    
  <div class="col-md-6">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <%= image_tag(@produtor.foto, size: "400x300", alt: @produtor.nome, class: "rounded")%>
      </div> 
    </div> 
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <iframe width="400" height="300" src="https://www.youtube.com/embed/<%= @produtor.video %>" frameborder="0" ></iframe>
      </div>
    </div>
  </div>

</div>

<%= link_to 'Voltar', produtos_path %>