<h1 class="display-2">Produtor</h1>

<div class="row">
  
  <%= link_to 'Voltar', produtos_path %>
  
  <% if @produtor.video %>
    <div class="col-md-12">
      <div class="row justify-content-center align-items-center">
        <iframe width="400" height="300" src="https://www.youtube.com/embed/<%= @produtor.video.codigo %>" frameborder="0" ></iframe>
      </div>
    </div>
  <% end %>
  
  <div class="col-md-6">

      <p>
        <strong>Nome:</strong>
        <%= @produtor.nome %>
      </p>
      <p>
        <strong>Telefone:</strong>
        <%= @produtor.telefone %>
      </p>
      <p>
        <strong>Whatsapp:</strong>
        <%= @produtor.whatsapp %>
      </p>
      <p>
        <strong>Cartão:</strong>
        <%= @produtor.cartao %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= @produtor.email %>
      </p>
      <p>
        <strong>Endereço:</strong>
        <%= @produtor.endereco %>
      </p>

  </div>
    
  <div class="col-md-6">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
             <% @produtor.fotos.each do |foto| %>
                <div class="carousel-item <%= foto.principal? ? "active" : "" %>">
                    <img src="<%= foto.url %>" class="d-block w-100" alt="..." height="200" width="200">
                    <div class="carousel-caption d-none d-md-block">
                        <h5><%= foto.nome %></h5>
                        <p><%= foto.descricao %></p>
                    </div>
                </div>
            <% end %>
          </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
      </div> 
    </div> 
  </div>
  
  <div class="col-md-12">

    <h2 class="display-3">Produtos</h2>
    
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>Produto</th>
            <th>Categoria</th>
            <th>Produção</th>
            <th>Preço</th>
            <th></th>
          </tr>
        </thead>
      
        <tbody>
          <% @produtor.produtos.each do |produto| %>
            <tr>
              <td><%= produto.nome %></td>
              <td><%= produto.categoria.nome %></td>
              <td><%= produto.producao %></td>
              <td><%= produto.preco %></td>
              <td><%= link_to 'Ver', produto %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>

</div>

