<section class="py-5 bg-light">
  <div class="container">
    <%= render 'produtor', produtor: @produtor %>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading" data-aos="fade-up">As Fotos</h2>
        <h6 data-aos="fade-up" data-aos-delay="100">Alguns dos momentos que retratam sua história de luta.</h6>
        <% if @produtor.fotos.empty? %>
          <div class="row justify-content-center text-center">
            <h4 data-aos="fade-up">Nenhuma foto cadastrada</h4>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="home-slider major-caousel owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
          <% @produtor.fotos.each do |foto| %>
            <div class="slider-item">
              <a href="<%= url_for foto %>" data-fancybox="images"><img src="<%= url_for foto %>" class="img-fluid"></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading" data-aos="fade-up">Os Produtos</h2>
        <h6 data-aos="fade-up" data-aos-delay="100">Ao comprar os produtos, além de ter produtos com qualidade direto da
          roça, <b>você estará ajudando para que a história dessa família continue</b>.</h6>
        <% if @produtor.produtos.empty? %>
          <div class="row justify-content-center text-center">
            <h4 data-aos="fade-up">Nenhum produto cadastrado</h4>
          </div>
        <% end %>
      </div>
    </div>
    <div id="paginacao_produtos" class="row justify-content-center text-center mb-5" data-aos="fade-up">
      <%= paginate @produtos, :params => {:paginate => "produto"}, remote: true, theme: 'twitter-bootstrap-4', pagination_class: "pagination", nav_class: "d-inline-b" %>
    </div>
    <div id="produtos">
      <%= render 'produtos/produto_each', produtos: @produtos %>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading" data-aos="fade-up">Os Serviços</h2>
        <h6 data-aos="fade-up" data-aos-delay="100">Outros trabalhos do meio rural que é mais uma forma digna de se
          <b>alimentar sua família e manter sua história</b>.</h6>
        <% if @produtor.servicos.empty? %>
          <div class="row justify-content-center text-center">
            <h4 data-aos="fade-up">Nenhum serviço cadastrado</h4>
          </div>
        <% end %>
      </div>
    </div>

    <div id="paginacao_servicos" class="row justify-content-center text-center mb-5" data-aos="fade-up">
      <%= paginate @servicos, :params => {:paginate => "servico"}, remote: true, theme: 'twitter-bootstrap-4', pagination_class: "pagination", nav_class: "d-inline-b" %>
    </div>
    <div id="servicos">
      <%= render 'servicos/servico_each', servicos: @servicos %>
    </div>
  </div>
</section>
