<h1>Produtor</h1>

<p>
  <%= image_tag(@produtor.foto, size: "400x300", alt: @produtor.nome)%>
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @produtor.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>
  <strong>Nome:</strong>
  <%= @produtor.nome %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @produtor.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @produtor.email %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @produtor.endereco %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @produtor.foto %>
</p>

<p>
  <strong>Video:</strong>
  <%= @produtor.video %>
</p>

<h1>Produtos</h1>

<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Produtor</th>
      <th>Produção</th>
      <th>Preço</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @produtor.produtos.each do |produto| %>
      <tr>
        <td><%= produto.nome %></td>
        <td><%= produto.producao %></td>
        <td><%= produto.preco %></td>
        <td><%= link_to 'Show', produto %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', produtos_path %>
