<h1 class="display-2">Produtos</h1>

<%= search_form_for @q do |f| %>
  <div class='row'>
    
    <div class='col-md-12'>
      <div class="form-group">
        <label class="col-sm-2 col-form-label">Nome</label>
        <input type="text" id='q_nome_cont' name='q[nome_cont]' class="form-control">
      
        <label class="col-sm-2 col-form-label">Categoria</label>
        <%= f.select :categoria_id_eq, options_from_collection_for_select(Categoria.all, "id", "nome", @q.categoria_id_eq), {:include_blank => "Selecione"}, {:class => "form-control"} %>
        
        <label class="col-sm-2 col-form-label">Qualidade</label>
        <%= f.select :qualidade_id_eq, options_from_collection_for_select(Qualidade.all, "id", "nome", @q.qualidade_id_eq), {:include_blank => "Selecione"}, {:class => "form-control"} %>
        
        <label  class="col-sm-2 col-form-label">Produtor</label>
        <%= f.select :produtor_id_eq, options_from_collection_for_select(Produtor.all, "id", "nome", @q.produtor_id_eq), {:include_blank => "Selecione"}, {:class => "form-control"} %>
        
        <%= f.button "Pesquisar", class: "btn btn-primary btn-block" %>
        <%= link_to "Cancelar", request.path, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <% @produtos.each do |produto| %>
    <div class="card" style="width: 18rem;">
      <%= link_to image_tag(produto.foto_principal_url, class: "card-img-top", size: "200x200"), produto %>
      
      <div class="card-body">
        <h5 class="card-title">Produto: <%= link_to produto.nome, produto %></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Categoria: </b><%= produto.categoria.nome %></li>
        <li class="list-group-item"><b>Qualidade: </b><%= produto.qualidade.nome %></li>
        <li class="list-group-item"><b>Produção: </b><%= produto.producao %></li>
        <li class="list-group-item"><b>Preço: </b><%= produto.preco %></li>
      </ul>
      <div class="card-body">
        <b>Produtor: </b><%= link_to produto.produtor.nome, produto.produtor, class: "card-link" %>
      </div>
    </div>
  <% end %>
</div>