<h1 class="display-2">Produtos</h1>

<div class="row">
  <% @produtos.each do |produto| %>
    <div class="card" style="width: 18rem;">
      <img src="http://dicademae.com/weloly/wp-content/uploads/2014/12/leite-de-vaca.jpg" class="card-img-top" alt="..."  height="200" width="200">
      <div class="card-body">
        <h5 class="card-title">Produto: <%= link_to produto.nome, produto %></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Categoria: </b><%= produto.categoria.nome %></li>
        <li class="list-group-item"><b>Qualidade: </b><%= produto.qualidade.nome %></li>
        <li class="list-group-item"><b>Produção: </b><%= produto.producao %></li>
        <li class="list-group-item"><b>Preço: </b><%= produto.preco %></li>
      </ul>
      <div class="card-body">
        <b>Produtor: </b><%= link_to produto.produtor.nome, produto.produtor, class: "card-link" %>
      </div>
    </div>
  <% end %>
</div>