<section class="py-5 bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5" data-aos="fade-up">
        <figure class="img-absolute">
          <%= image_tag(foto_perfil_url(@produto.produtor), class: "img-fluid mb-3") %>
        </figure>
        <%= image_tag(foto_capa_url(@produto), class: "img-fluid rounded") %>
      </div>
      <div class="col-md-12 col-lg-4 order-lg-1" data-aos="fade-up">
        <h2 class="heading"><%= @produto.nome %></h2>
        <h6 class="mb-4"><%= @produto.descricao %></h6>
        <h6><b>Preço:</b> <%= produto_preco_completo(@produto) %></h6>
        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#<%= "consumidor_" + @produto.id.to_s %>" role="button" aria-expanded="false" aria-controls="<%= "consumidor_" + @produto.id.to_s %>">
            <span class="ion-ios-information-outline" data-toggle="tooltip" data-placement="top" title="Informações para quem quer comprar poucos produtos" style="font-size:75%;"> Consumidor?</span>
          </a>
          <a class="btn btn-primary" data-toggle="collapse" href="#<%= "atacadista_" + @produto.id.to_s %>" role="button" aria-expanded="false" aria-controls="<%= "atacadista_" + @produto.id.to_s %>">
            <span class="ion-ios-information-outline" data-toggle="tooltip" data-placement="top" title="Informações para quem quer comprar vários produtos" style="font-size:75%;"> Atacadista?</span>
          </a>
        </p>
        <div class="collapse" id="<%= "consumidor_" + @produto.id.to_s %>">
          <div class="card card-body">
            <h6><b>Cidade:</b> <%= cidade_completo(@produto.produtor) %></h6>
            <h6>
              <span class="ion-ios-information-outline" data-toggle="tooltip" data-placement="top" title="<%= @produto.qualidade.descricao %>"></span><b>
              Qualidade: <%= @produto.qualidade.nome %></b></h6>
          </div>
        </div>
        <div class="collapse" id="<%= "atacadista_" + @produto.id.to_s %>">
          <div class="card card-body">
            <h6><b>Produção:</b> <%= producao(@produto) %></h6>
            <% if @produto.categoria.nome.eql?("Animal") %>
              <h6><b>Selo Inspeção:</b> <%= Produto.human_enum_name(:selo_inspecoes, @produto.selo_inspecao) %>
              </h6>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @produto.video %>
    <div class="row justify-content-center text-center mb-5" data-aos="fade-up">
      <a href="https://www.youtube.com/embed/<%= @produto.video.codigo %>" data-fancybox class="btn btn-outline-primary">Vídeo
        Sobre o Produto</a>
      <span class="mr-3 font-family-serif"></span>
    </div>
  <% end %>
  <div class="row justify-content-center text-center mb-5" data-aos="fade-up">
    <button class="clipboard-btn btn btn-outline-success" data-clipboard-text="<%= "#{@produto.nome}, #{produto_preco_completo(@produto)}, do #{@produto.produtor.nome} (#{@produto.produtor.apelido}) " + url_for(:only_path => false) %>">
      Copie e Compartilhe no
      <span class="fa fa-whatsapp"></span>
      <span class="fa fa-facebook"></span>
      <span class="fa fa-instagram"></span>
      <span class="fa fa-twitter"></span>
    </button>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading" data-aos="fade-up">A Criação</h2>
        <h6 data-aos="fade-up" data-aos-delay="100">Conheça um pouco como surgiu a ideia de produzir esse produto
          que é
          responsável por manter a história dessa família.</h6>
        <% if @produto.criacoes.empty? %>
          <div class="row justify-content-center text-center">
            <h4 data-aos="fade-up"> Ainda não conhecemos a criação </h4>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-12 mb-5">
      <div class="row justify-content-center">
        <% unless @produto.criacoes.empty? %>
          <div class="historia" data-aos="fade-up">
            <div class="col-md-12">
              <% @produto.criacoes.order(data: :asc).each do |criacao| %>
                <div class="timeline-item" date-is='<%= criacao.data.year %>'>
                  <h5><%= criacao.titulo %></h5>
                  <h6><%= criacao.descricao %></h6>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-7">
        <h2 class="heading" data-aos="fade-up">As Fotos</h2>
        <h6 data-aos="fade-up" data-aos-delay="100">Veja um pouco da qualidade e carinho que é produzido o
          seu alimento
          por famílias que vivem tão próximas da natureza.</h6>
        <% if @produto.fotos.empty? %>
          <div class="row justify-content-center text-center">
            <h4 data-aos="fade-up">Nenhuma foto cadastrada</h4>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="home-slider major-caousel owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
          <% @produto.fotos.each do |foto| %>
            <div class="slider-item">
              <a href="<%= url_for foto %>" data-fancybox="images"><img src="<%= url_for foto %>" class="img-fluid"></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5 ">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-7">
        <h2 class="heading" data-aos="fade-up">O Produtor</h2>
        <h6 data-aos="fade-up" data-aos-delay="100">É um verdadeiro exemplo de luta,
          <b>conheçam sua história e se espelhem</b>.</h6>
      </div>
    </div>
    <%= render 'produtores/produtor', produtor: @produto.produtor %>
  </div>
</section>
