<h1 class="display-2">Produto</h1>

<div class="row">
  
  <div class="col-md-4">
    <p>
      <strong>Nome:</strong>
      <%= @produto.nome %>
    </p>
    <p>
      <strong>Descrição:</strong>
      <%= @produto.descricao %>
    </p>
    <p>
      <strong>Categoria:</strong>
      <%= @produto.categoria.nome %>
    </p>
    <p>
      <strong>Qualidade:</strong>
      <%= @produto.qualidade.nome %>
    </p>
    <p>
      <strong>Produção:</strong>
      <%= @produto.producao %>
    </p>
    <p>
      <strong>Preço:</strong>
      <%= @produto.preco %>
    </p>
    <p>
      <strong>Produtor:</strong>
      <%= link_to @produto.produtor.nome, @produto.produtor %>
    </p>
  </div>
  
  <div class="col-md-8">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
             <% @produto.fotos.each do |foto| %>
                <div class="carousel-item <%= foto.principal? ? "active" : "" %>">
                    <img src="<%= foto.url %>" class="d-block w-100" alt="..." height="200" width="200">
                    <div class="carousel-caption d-none d-md-block">
                        <h5><%= foto.nome %></h5>
                        <p><%= foto.descricao %></p>
                    </div>
                </div>
            <% end %>
          </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
      </div> 
    </div> 
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <iframe width="400" height="300" src="https://www.youtube.com/embed/<%# @produto.video %>" frameborder="0" ></iframe>
      </div>
    </div>
  </div>
  
</div>

<%= link_to 'Voltar', produtos_path %>

