<!-- Menu -->
<header class="site-header js-site-header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-6 col-lg-4 site-logo" data-aos="fade"><a href="/"><%= t "header.logo" %></a></div>
      <div class="col-6 col-lg-8">


        <div class="site-menu-toggle js-site-menu-toggle" data-aos="fade">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- END menu-toggle -->

        <div class="site-navbar js-site-navbar">
          <nav role="navigation">
            <div class="container">
              <div class="row full-height align-items-center">
                <div class="col-md-6 mx-auto">
                  <ul class="list-unstyled menu">
                    <li class="active"><a href="/">Principal</a></li>
                    <li><%= link_to t("header.menu.produtor"), produtores_path %></li>
                    <li><%= link_to t("header.menu.produto"), produtos_path %></li>
                    <li><%= link_to t("header.menu.servico"), servicos_path %></li>
                    <li><%= link_to t("header.menu.contato"), new_contato_path %></li>
                    <li><%= link_to t("header.menu.objetivo"), objetivo_path %></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Mensagem Principal -->
<section class="site-hero overlay" style="background-image: url('/images/agricultura-familiar-<%= Random.new.rand(1..5) %>.jpg')" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
      <div class="col-md-10 text-center" data-aos="fade-up">
        <%# TODO: Refatorar %>
        <% if controller_name.eql? "home" %>

          <%# TODO: Mover esse JS para o local correto %>
          <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

          <span id="typed"></span>

          <script type="text/javascript" charset="utf-8">
              var typed = new Typed('#typed', {
                  strings: ['<span class="sub-heading"><%= t("header.mensagem_principal.home.bem_vindo") %><span class="fa fa-star text-primary"></span><%= t("header.logo") %><span class="fa fa-star text-primary"></span></span> ^1000 <h1 class="heading"><%= t("header.mensagem_principal.home.mensagam_primaria") %></h1> ^1000 <h1 class="sub-heading"><%= t("header.mensagem_principal.mensagem_secundaria") %></h1>'],
                  typeSpeed: 40,
                  backSpeed: 0,
                  cursorChar: '_',
              });
          </script>


        <% elsif controller_name.eql? "servicos" %>
          <% if action_name.eql? "index" %>
            <h2 class="heading"><%= t("header.mensagem_principal.servicos.mensagam_primaria.plural") %></h2>
            <span class="sub-heading"><span class="fa fa-star text-primary"></span> <%= t("header.mensagem_principal.mensagem_secundaria") %>
              <span class="fa fa-star text-primary"></span></span>
          <% else %>
            <h2 class="heading"><%= t("header.mensagem_principal.servicos.mensagam_primaria.singular") %></h2>
            <span class="sub-heading"><span class="fa fa-star text-primary"></span> <%= t("header.mensagem_principal.mensagem_secundaria") %>
              <span class="fa fa-star text-primary"></span></span>
          <% end %>
        <% elsif controller_name.eql? "contatos" %>
          <h2 class="heading"><%= t("header.mensagem_principal.contatos.mensagem_primaria") %></h2>
          <span class="sub-heading"><span class="fa fa-star text-primary"></span> <%= t("header.mensagem_principal.mensagem_secundaria") %>
            <span class="fa fa-star text-primary"></span></span>
        <% elsif action_name.eql? "index" %>
          <h2 class="heading"><%= t("header.mensagem_principal.outros.plural") %> <%= controller_name.capitalize %></h2>
          <span class="sub-heading"><span class="fa fa-star text-primary"></span> <%= t("header.mensagem_principal.mensagem_secundaria") %>
            <span class="fa fa-star text-primary"></span></span>
        <% else %>
          <h2 class="heading"><%= t("header.mensagem_principal.outros.singular") %> <%= controller_name.capitalize.singularize %></h2>
          <span class="sub-heading"><span class="fa fa-star text-primary"></span> <%= t("header.mensagem_principal.mensagem_secundaria") %>
            <span class="fa fa-star text-primary"></span></span>
        <% end %>
      </div>
    </div>
  </div>
</section>

<% unless controller_name.eql? "contatos" %>
  <% unless action_name.eql? "index" %>
    <section class="py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-9 text-center mb-4 mb-md-0 text-md-left" data-aos="fade-up">
            <h2 class="font-weight-bold"><%= t("header.mensagem_secundaria.mensagem_primaria") %></h2>
          </div>
          <div class="col-12 col-md-3 text-center text-md-right" data-aos="fade-up" data-aos-delay="200">
            <%= link_to t("header.mensagem_secundaria.mensagem_secundaria"), new_contato_path, class: "btn btn-success font-weight-bold text-dark py-3 px-5" %>
          </div>
        </div>
      </div>
    </section>
  <% end %>
<% end %>

