<!-- Menu -->
<header class="site-header js-site-header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-6 col-lg-4 site-logo" data-aos="fade"><a href="/">Portal Agro</a></div>
      <div class="col-6 col-lg-8">


        <div class="site-menu-toggle js-site-menu-toggle" data-aos="fade">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- END menu-toggle -->

        <div class="site-navbar js-site-navbar">
          <nav role="navigation">
            <div class="container">
              <div class="row full-height align-items-center">
                <div class="col-md-6 mx-auto">
                  <ul class="list-unstyled menu">
                    <li class="active"><a href="/">Principal</a></li>
                    <li><%= link_to "Produtores", produtores_path %></li>
                    <li><%= link_to "Produtos", produtos_path %></li>
                    <li><%= link_to "Serviços", servicos_path %></li>
                    <li><%= link_to "Contato", new_contato_path %></li>
                    <li><%= link_to "Sobre", sobre_show_path %></li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Mensagem Principal -->
<section class="site-hero overlay" style="background-image: url('/images/agricultura-familiar-<%= Random.new.rand(1..5) %>.jpg')" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row site-hero-inner justify-content-center align-items-center">
      <div class="col-md-10 text-center" data-aos="fade-up">
        <% if controller_name == "home" %>
          <span class="custom-caption text-uppercase text-white d-block  mb-3">Bem vindo ao <span class="fa fa-star text-primary"></span> Portal Agro <span class="fa fa-star text-primary"></span></span>
          <h1 class="heading">O Melhor da Agricultura Familiar da Sua Cidade</h1>
        <% elsif action_name == "index" %>
          <span class="custom-caption text-uppercase text-white d-block  mb-3"><span class="fa fa-star text-primary"></span> O Melhor da Agricultura Familiar da Sua Cidade <span class="fa fa-star text-primary"></span></span>
          <h2 class="heading">Os <%= controller_name.capitalize %></h2>
        <% else %>
          <span class="custom-caption text-uppercase text-white d-block  mb-3"><span class="fa fa-star text-primary"></span> O Melhor da Agricultura Familiar da Sua Cidade <span class="fa fa-star text-primary"></span></span>
          <h2 class="heading">O <%= controller_name.capitalize.singularize %></h2>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-9 text-center mb-4 mb-md-0 text-md-left" data-aos="fade-up">
        <h2 class="font-weight-bold">Quer apresentar seu produto ou serviço? Aqui é grátis.</h2>
      </div>
      <div class="col-12 col-md-3 text-center text-md-right" data-aos="fade-up" data-aos-delay="200">
        <%= link_to "Entre em Contato!", new_contato_path, class: "btn btn-success font-weight-bold text-dark py-3 px-5" %>
      </div>
    </div>
  </div>
</section>